<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="#">RTM</a>
  <ul class="nav navbar-nav">
   <li><%= link_to "Home", root_path %></li>
   <li><%= link_to "New Task", root_path %></li>
  </ul>
</div>
