<table>
<thead><tr><td></td><td><b>Task Name</b></td><td><b>Details</b></td></tr></thead>
<tbody>
<% @tasks.each do |task| %>
  <tr><td><%= check_box("completed", task.id, {checked: task.completed}) %></td><td><%= task.name %></td><td><%= task.details %></td></tr>
<% end %>
</tbody>
</table>
