<h2>All Tasks</h2>
<%= link_to "Add task", 'tasks/new' %>
<div class="list-group">
<% @tasks.each do |task| %>
    <% if task.completed %>
      <div class="list-group-item list-group-item-success">
        <%= link_to task.name, task_path(task), class: "strikethrough" %>
      <% else %>
      <div class="list-group-item">
      <%= link_to task.name, task_path(task) %>
    <% end %>
  <span class="badge">
  <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
    <span class="glyphicon glyphicon-remove"></span>
  <% end %>
  </span>
</div>

<% end %>
</div>

