<h2><%= @task.name %></h2>
<div class="well"><%= @task.details %></div>

<div>
<p><%= check_box("completed", @task.id, {checked: @task.completed}) %>
  <% if @task.completed %>
    This task is completed
    <% else %>
    This task is not completed
  <% end %>
</p>
</div>
<%= link_to "Back to list", tasks_path  %>
